Soru 1

In [1]:

M = [[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

for i in range(len(M)):
    m = M[i][0:2]
    m.reverse()
    M[i][0:2] = m
M

[[12, 11, 13, 14], [22, 21, 23, 24], [32, 31, 33, 34]]

In [2]:
# alternatif 
M = [[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]]

for i in M:
    i[0],i[1] = i[1],i[0]
M

[[12, 11, 13, 14], [22, 21, 23, 24], [32, 31, 33, 34]]

Soru 2

In [4]:
M = [[0, 3, 2, 4], [2, 7, 5, 9], [6, 1, 2, 3]]

enb = 0

for i in range(len(M)):
    for j in range(len(M[i])):
        if (M[i][j] > enb):
            enb = M[i][j]
            konum = [i,j]
            continue
print(enb)

print(tuple(konum))

9
(1, 3)

Soru 3

In [5]:
list_1 = [5, 3, 3, 10, 40]
list_2 = [40, 3, 40, 1, 2]
y = []

for e in list_1:
    
     if (list_1.count(e) < 2):
            y.extend([e])
            continue

for e in list_2:
    
     if (list_2.count(e) < 2):
            y.extend([e])
            continue            

print(y)
len(y)

[5, 10, 40, 3, 1, 2]

6

In [6]:
# alternatif
list_1 = [5, 3, 3, 10, 40]
list_2 = [40, 3, 40, 1, 2]

l = list_1 + list_2
len(set(l))

6

Soru 4

In [7]:
students = {"Jane":{"grade":90,"student_number":4012}, 
          "Pat":{"grade":81,"student_number":4052},
          "Denis":{"grade":70,"student_number":4089},
          "Max":{"grade":72,"student_number":4322},
          "Lara":{"grade":74,"student_number":4042}}

t = 0
for i in students:
    
    t += students[i]["grade"]
    ortalama = t / len(students)

print("ortalama = " + str(ortalama))


for i in students:
    if students[i]["grade"] > ortalama:
        name = i
        print(f' Grade of {name} is above the average')
    
    elif students[i]["grade"] == ortalama:
        name = i
        print(f' Grade of {name} is equal to the mean')
    
    else:
        name = i
        print(f' Grade of {name} is below the average')

ortalama = 77.4
 Grade of Jane is above the average
 Grade of Pat is above the average
 Grade of Denis is below the average
 Grade of Max is below the average
 Grade of Lara is below the average

Soru 5

In [ ]:
tickets = 200

print(str(tickets) + " tickets remaining")

inp = int(input("How many do you want to buy? Minimum 1, maximum 4: "))

while True:
    
    if inp == 1 or inp <= 4:
        tickets = tickets - inp
    
    else:
        continue

    print(str(tickets) + " tickets remaining")

200 tickets remaining